header.site-header {
  margin-bottom: 70px;
  .inner {
    padding: 40px 0;
    border-bottom: 1px solid $sea_blue;
    .logo {
      img {
        max-height: 92px;
      }
    }
    nav {
      ul {
        li {
          margin: 0 36px;
          a {
            text-transform: uppercase;
            color: $sea_blue;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:991px) {
  header.site-header {
    nav {
      display: none;
    }
  }
}