section.hero-area {
  padding: 110px 0 100px;
  margin-bottom: 40px;

  .page-title {
    font-size: 6.6rem;
  }

  .summary {
    font-size: 2.7rem;
    margin-top: 45px;
  }

  .cta-button {
    margin-top: 60px;
  }
}