section.testimonial-slider {
  padding: 80px 0;
  .testimonials {
    .slick-track {
      display: flex;
      align-items: center;
    }
    .single-testimonial {
      margin: 0 60px;
      padding: 80px 100px;
      .headshot {
        img {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          border: 5px solid $white;
        }
      }
      .content {
        margin-top: 30px;
        font-size: 1.4rem;
        font-family: "ProximaNova-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .name {
        margin-top: 40px;
        text-transform: uppercase;
      }
      &.slick-center {
        .headshot {
          img {
            width: 135px;
            height: 135px;
          }
        }
        .content {
          margin-top: 50px;
          font-size: 2rem;
        }
      }
    }
    .slick-dots {
      margin-top: 55px;
    }
  }
}

@media screen and (max-width: 991px) {
  section.testimonial-slider {
    display: none;
  }
}